<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/head.html' %}
        <title>{% block title %} {% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include 'includes/header.html' %}
        <div id="container-fluid">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        <script type="text/javascript" scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>